
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

$color_primary: #fb5859;
$color_dark: #252945;
$color_secondary: #5266df;
$color_success: green;

/* start SETTINGS start */

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    font-family: 'Rubik', sans-serif !important;
}

// html
html {
    scroll-behavior: smooth;
}

.container-main {
    margin: 0 10% !important;
   
}

/* end SETTINGS end */

.more {
    color: whitesmoke !important;
    background-color: $color_secondary !important;
    border: 2px solid $color_secondary !important;
    transform: scale(1.2);

    &:hover {
        background: none !important;
        color: $color_secondary !important;
        border: 2px solid $color_secondary !important;
    }
}

/* start HEADER start */

.header-content {
    padding-top: 2rem;

    .nav a {
        margin-left: 20px;
    }

    .nav-item a {
        color: $color_dark;
        transition: all .2s;

        &:hover {
            color: $color_primary;
        }
    }

    .nav-link {
        font-size: 14px;
        letter-spacing: 2px;
    }

    .login {
        background: $color_primary !important;
        color: white !important;
        border-radius: 5px;
        border: 1px solid $color_primary;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, .2);
    
        transition: all .2s;
    
        &:hover {
            background: none !important;
            color: $color_primary !important;
        }
    }
}

/* end HEADER end */

/* start HOME-CONTAINER start */

.home-container {
    padding-top: 5rem;

    h1 {
        color: $color_dark;
        font-size: 45px
    }

    .description {
        margin: auto;
    }

    .screen-box .bg-box-right {
        position: absolute;
        z-index: -99;
        width: 100%;
        height: 70%; 
        top: 30%;

        margin-left: 28%;

        background-color: #5266df;
        border-bottom-left-radius: 30%;
    }

    .btn-chrome {
        background-color: $color_secondary !important;

        &:hover {
            background: none !important;
            color: $color_secondary !important;
            border: 1px solid $color_secondary !important;
        }
    }
    
    .btn-firefox {
        background-color: #f7f7f7 !important;

        &:hover {
            background: none !important;
            color: $color_dark !important;
            border: 1px solid $color_dark !important;
        }
    }
}

/* end HOME-CONTAINER end */

/* start FEATURE-CONTAINER start */
.feature-container {
    padding-top: 6rem;
    padding-bottom: 1rem;
}
/* end HOME-CONTAINER end */


/* start TAB-CONTAINER start */
.tab-container {
    padding: 1rem 0;

    .tab-header {
        ul {
            box-shadow: 0 1px 0px rgba(0, 0, 0, .2);

            a {
                transition: all .3s;
                font-size: 16px;
                padding: 10px 3rem;
                
    
                &.active {
                    border-bottom: 3px solid #fb5b59;
                    color: black !important;
                }
            }
        }        
    }

    .tab-content {
        padding: 2rem 0;

        .bg-box-left {
            position: absolute;
            width: 75%;
            left: -28%;
            
            background-color: #5266df;
            z-index: -1;
            border-bottom-right-radius: 30%;
        }

        .bg-box-1 {
            height: 100%;
            top: 30%;
        }
        
        .bg-box-2 {
            top: 25%;
            height: 85%;
        }
    
        .bg-box-3 {
            top: 25%;
            height: 85%;
        }
    }
}
/* end TAB-CONTAINER end */

/* start DOWNLOAD-CONTAINER start */
.download-container {
    margin-top: 6rem;
    padding-bottom: 5rem;

    .download-item {
        margin-top: 2rem;
    }

    .card {
        
        border-radius: 10px !important;
        border: none !important;
        box-shadow: 0 15px 10px rgba(0, 0, 0, .2);

        flex-direction: column;

        img {
            width: 40%;
            padding-top: 1rem;
        }

        .btn-color {
            color: whitesmoke;
            background-color: $color_secondary;
            border: 2px solid $color_secondary;

            &:hover {
                background: none;
                color: $color_secondary;
                border: 2px solid $color_secondary;;
            }
        }

        .card-content {
            padding: 0 0 !important;
        }

        .desc {
            .text-muted {
                font-size: 14px;
            }
        }
    }
    
    #card2 {
        top: 50px;
    }

    #card3 {
        top: 100px;
    }
}
/* end DOWNLOAD-CONTAINER end */

/* start QUESTION-CONTAINER start */
.question-container {
    margin-top: 4rem;
    padding-bottom: 5rem;

    .card, .accordion {
        background: none !important;
        border: none !important;
    }

    .card {
        .card-header {
            background: none !important;
            border: none !important;

        }

        button {
            color: $color_dark;
            box-shadow: none;
            text-decoration: none;
            .icon {
                transition: .3s transform ease-in-out !important;
            }
         
            &:hover {
                color: $color_primary !important;
            }            
        }

        .more {
            background-color: $color_secondary !important;
        }

        .collapsed {
            .icon {

                svg {
                    transition: all .3s;
    
                    transform: rotate(90deg); 

                    path {
                        stroke: royalblue;
                    }
                }
            }
        }

        .icon {

            svg {
                transition: all .3s;


                path {
                    stroke: $color_primary;
                }
            }
        }
    }    
}
/* end QUESTION-CONTAINER end */

.footer-container {

    #footer-container-1 {
        .footer-content {
            background-color: $color_secondary; /*background-color: hsla(229, 31%, 21%, 0.856);*/

            .text1 {
                font-size: 12px;
                letter-spacing: 6px;
            }

            .contact-container {

                .contact-btn {
                    background: $color_primary !important;
                    color: white !important;
                    border-radius: 5px;
                    border: 2px solid $color_primary;
                    margin-left: 1rem;
                    box-shadow: 2px 2px 5px rgba(0, 0, 0, .2);

                    padding: 12.5px;
                
                    transition: all .2s;
                
                    &:hover {
                        background: white !important;
                        color: $color_primary !important;
                    }
                }

                input {
                    box-shadow: none !important;
                    border: none;
                    
                    padding: 1rem 10px;

                    &:invalid {
                        border: 3px solid $color_primary;
                        background-image: url(../img/images/icon-error.svg);
                    }
                }

                .main-container {
                    position: relative;
                    top: -7px;
                    width: 100%;
                    color: white;
                }

                &:invalid {
                    .btn-error {
                        background: $color_primary !important;
                    }
                }         
            } 
        }
    }

    #footer-container-2 {
        background-color: hsla(229, 31%, 21%, 0.856);
    }
}

.modal-container {
    background-color: hsla(229, 31%, 21%, 0.9) !important;

    .modal-dialog {
        margin: 0 0 !important;
    
        .modal-content {
            background: none !important;
            color: white !important;
            width: 100vw !important;
            border-radius: 0px !important;
            border: none !important;

            padding: 0 10%;

            .modal-header {
                border-bottom: none !important;
    
                .close {
                    color: whitesmoke;
                    font-size: 32px;
                    text-shadow: none !important;
                }
    
                .logo {
                    filter: grayscale(100%) invert(100%);
                }
            }

            .modal-body {
                font-size: 18px;
    
                a {
                    transition: all .3s;
                    color: rgba(255, 255, 255, 0.781);
    
                    &:hover {
                        color: white;
                    }
                }
    
                hr {
                    background-color: rgba(255, 255, 255, 0.473)
                }

                .login {
                    border: 2px solid rgba(255, 255, 255, 0.781);
                    border-radius: 5px;

                    &:hover {
                        border-color: white;
                    }
                }
            }

            .modal-footer {
                border: none !important;
    
                .icon {
                    font-size: 32px;
                }
            }
        } 
    }
}


/* start MEDIA SCREEN start */

@media screen and (max-width: 990px){
    .container-main {
        margin: 0 7% !important;
    }

    .header-content {
        padding-top: 1rem;
    }

    .home-container {
        padding-top: 3rem;
        text-align: center;

        .screen-box{
            margin-bottom: 30px;
        }

        a{
            width: auto;
            margin-left: 0 !important;
        }

    }

    .tab-container {
        padding: 0 0;

        .tab-content {
            padding-top: 0 !important;

            a {
                display: none;
            }

            .icon {
                margin-bottom: 7rem;
            }

            .bg-box-1 {
                width: 100%;
                height: 90%;
                top: 30%;
            }
            
            .bg-box-2 {
                width: 100%;
                top: 25%;
                height: 85%;
            }
        
            .bg-box-3 {
                width: 100%;

                top: 25%;
                height: 85%;
            }
        }
    }

    .download-container {
        margin-top: 2rem;
        padding-bottom: 0;

        .download-item {
            margin-top: 3rem;
        }
    
        #card2 {
            top: 0 !important;
        }
    
        #card3 {
            top: 0 !important;
        }
    }
}

@media screen and (max-width: 576px){
    .container-main {
        margin: 0 0 !important;
    }

    .header-content {
        padding-top: 0rem;
    }

    .modal-container {
    
        .modal-dialog {
        
            .modal-content {

                padding: 0 3%;
    
                
            } 
        }
    }
}

/* end MEDIA SCREEN end */

.footer-container {
    .icon {
        font-size: 30px;
    }

    a {
        transition: all .3s;
        &:hover {
            color: $color_primary !important;
        }
    }
}