@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
/* start SETTINGS start */
html, body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  font-family: "Rubik", sans-serif !important;
}

html {
  scroll-behavior: smooth;
}

.container-main {
  margin: 0 10% !important;
}

/* end SETTINGS end */
.more {
  color: whitesmoke !important;
  background-color: #5266df !important;
  border: 2px solid #5266df !important;
  transform: scale(1.2);
}
.more:hover {
  background: none !important;
  color: #5266df !important;
  border: 2px solid #5266df !important;
}

/* start HEADER start */
.header-content {
  padding-top: 2rem;
}
.header-content .nav a {
  margin-left: 20px;
}
.header-content .nav-item a {
  color: #252945;
  transition: all 0.2s;
}
.header-content .nav-item a:hover {
  color: #fb5859;
}
.header-content .nav-link {
  font-size: 14px;
  letter-spacing: 2px;
}
.header-content .login {
  background: #fb5859 !important;
  color: white !important;
  border-radius: 5px;
  border: 1px solid #fb5859;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  transition: all 0.2s;
}
.header-content .login:hover {
  background: none !important;
  color: #fb5859 !important;
}

/* end HEADER end */
/* start HOME-CONTAINER start */
.home-container {
  padding-top: 5rem;
}
.home-container h1 {
  color: #252945;
  font-size: 45px;
}
.home-container .description {
  margin: auto;
}
.home-container .screen-box .bg-box-right {
  position: absolute;
  z-index: -99;
  width: 100%;
  height: 70%;
  top: 30%;
  margin-left: 28%;
  background-color: #5266df;
  border-bottom-left-radius: 30%;
}
.home-container .btn-chrome {
  background-color: #5266df !important;
}
.home-container .btn-chrome:hover {
  background: none !important;
  color: #5266df !important;
  border: 1px solid #5266df !important;
}
.home-container .btn-firefox {
  background-color: #f7f7f7 !important;
}
.home-container .btn-firefox:hover {
  background: none !important;
  color: #252945 !important;
  border: 1px solid #252945 !important;
}

/* end HOME-CONTAINER end */
/* start FEATURE-CONTAINER start */
.feature-container {
  padding-top: 6rem;
  padding-bottom: 1rem;
}

/* end HOME-CONTAINER end */
/* start TAB-CONTAINER start */
.tab-container {
  padding: 1rem 0;
}
.tab-container .tab-header ul {
  box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2);
}
.tab-container .tab-header ul a {
  transition: all 0.3s;
  font-size: 16px;
  padding: 10px 3rem;
}
.tab-container .tab-header ul a.active {
  border-bottom: 3px solid #fb5b59;
  color: black !important;
}
.tab-container .tab-content {
  padding: 2rem 0;
}
.tab-container .tab-content .bg-box-left {
  position: absolute;
  width: 75%;
  left: -28%;
  background-color: #5266df;
  z-index: -1;
  border-bottom-right-radius: 30%;
}
.tab-container .tab-content .bg-box-1 {
  height: 100%;
  top: 30%;
}
.tab-container .tab-content .bg-box-2 {
  top: 25%;
  height: 85%;
}
.tab-container .tab-content .bg-box-3 {
  top: 25%;
  height: 85%;
}

/* end TAB-CONTAINER end */
/* start DOWNLOAD-CONTAINER start */
.download-container {
  margin-top: 6rem;
  padding-bottom: 5rem;
}
.download-container .download-item {
  margin-top: 2rem;
}
.download-container .card {
  border-radius: 10px !important;
  border: none !important;
  box-shadow: 0 15px 10px rgba(0, 0, 0, 0.2);
  flex-direction: column;
}
.download-container .card img {
  width: 40%;
  padding-top: 1rem;
}
.download-container .card .btn-color {
  color: whitesmoke;
  background-color: #5266df;
  border: 2px solid #5266df;
}
.download-container .card .btn-color:hover {
  background: none;
  color: #5266df;
  border: 2px solid #5266df;
}
.download-container .card .card-content {
  padding: 0 0 !important;
}
.download-container .card .desc .text-muted {
  font-size: 14px;
}
.download-container #card2 {
  top: 50px;
}
.download-container #card3 {
  top: 100px;
}

/* end DOWNLOAD-CONTAINER end */
/* start QUESTION-CONTAINER start */
.question-container {
  margin-top: 4rem;
  padding-bottom: 5rem;
}
.question-container .card, .question-container .accordion {
  background: none !important;
  border: none !important;
}
.question-container .card .card-header {
  background: none !important;
  border: none !important;
}
.question-container .card button {
  color: #252945;
  box-shadow: none;
  text-decoration: none;
}
.question-container .card button .icon {
  transition: 0.3s transform ease-in-out !important;
}
.question-container .card button:hover {
  color: #fb5859 !important;
}
.question-container .card .more {
  background-color: #5266df !important;
}
.question-container .card .collapsed .icon svg {
  transition: all 0.3s;
  transform: rotate(90deg);
}
.question-container .card .collapsed .icon svg path {
  stroke: royalblue;
}
.question-container .card .icon svg {
  transition: all 0.3s;
}
.question-container .card .icon svg path {
  stroke: #fb5859;
}

/* end QUESTION-CONTAINER end */
.footer-container #footer-container-1 .footer-content {
  background-color: #5266df;
  /*background-color: hsla(229, 31%, 21%, 0.856);*/
}
.footer-container #footer-container-1 .footer-content .text1 {
  font-size: 12px;
  letter-spacing: 6px;
}
.footer-container #footer-container-1 .footer-content .contact-container .contact-btn {
  background: #fb5859 !important;
  color: white !important;
  border-radius: 5px;
  border: 2px solid #fb5859;
  margin-left: 1rem;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  padding: 12.5px;
  transition: all 0.2s;
}
.footer-container #footer-container-1 .footer-content .contact-container .contact-btn:hover {
  background: white !important;
  color: #fb5859 !important;
}
.footer-container #footer-container-1 .footer-content .contact-container input {
  box-shadow: none !important;
  border: none;
  padding: 1rem 10px;
}
.footer-container #footer-container-1 .footer-content .contact-container input:invalid {
  border: 3px solid #fb5859;
  background-image: url(../img/images/icon-error.svg);
}
.footer-container #footer-container-1 .footer-content .contact-container .main-container {
  position: relative;
  top: -7px;
  width: 100%;
  color: white;
}
.footer-container #footer-container-1 .footer-content .contact-container:invalid .btn-error {
  background: #fb5859 !important;
}
.footer-container #footer-container-2 {
  background-color: rgba(37, 43, 70, 0.856);
}

.modal-container {
  background-color: rgba(37, 43, 70, 0.9) !important;
}
.modal-container .modal-dialog {
  margin: 0 0 !important;
}
.modal-container .modal-dialog .modal-content {
  background: none !important;
  color: white !important;
  width: 100vw !important;
  border-radius: 0px !important;
  border: none !important;
  padding: 0 10%;
}
.modal-container .modal-dialog .modal-content .modal-header {
  border-bottom: none !important;
}
.modal-container .modal-dialog .modal-content .modal-header .close {
  color: whitesmoke;
  font-size: 32px;
  text-shadow: none !important;
}
.modal-container .modal-dialog .modal-content .modal-header .logo {
  filter: grayscale(100%) invert(100%);
}
.modal-container .modal-dialog .modal-content .modal-body {
  font-size: 18px;
}
.modal-container .modal-dialog .modal-content .modal-body a {
  transition: all 0.3s;
  color: rgba(255, 255, 255, 0.781);
}
.modal-container .modal-dialog .modal-content .modal-body a:hover {
  color: white;
}
.modal-container .modal-dialog .modal-content .modal-body hr {
  background-color: rgba(255, 255, 255, 0.473);
}
.modal-container .modal-dialog .modal-content .modal-body .login {
  border: 2px solid rgba(255, 255, 255, 0.781);
  border-radius: 5px;
}
.modal-container .modal-dialog .modal-content .modal-body .login:hover {
  border-color: white;
}
.modal-container .modal-dialog .modal-content .modal-footer {
  border: none !important;
}
.modal-container .modal-dialog .modal-content .modal-footer .icon {
  font-size: 32px;
}

/* start MEDIA SCREEN start */
@media screen and (max-width: 990px) {
  .container-main {
    margin: 0 7% !important;
  }

  .header-content {
    padding-top: 1rem;
  }

  .home-container {
    padding-top: 3rem;
    text-align: center;
  }
  .home-container .screen-box {
    margin-bottom: 30px;
  }
  .home-container a {
    width: auto;
    margin-left: 0 !important;
  }

  .tab-container {
    padding: 0 0;
  }
  .tab-container .tab-content {
    padding-top: 0 !important;
  }
  .tab-container .tab-content a {
    display: none;
  }
  .tab-container .tab-content .icon {
    margin-bottom: 7rem;
  }
  .tab-container .tab-content .bg-box-1 {
    width: 100%;
    height: 90%;
    top: 30%;
  }
  .tab-container .tab-content .bg-box-2 {
    width: 100%;
    top: 25%;
    height: 85%;
  }
  .tab-container .tab-content .bg-box-3 {
    width: 100%;
    top: 25%;
    height: 85%;
  }

  .download-container {
    margin-top: 2rem;
    padding-bottom: 0;
  }
  .download-container .download-item {
    margin-top: 3rem;
  }
  .download-container #card2 {
    top: 0 !important;
  }
  .download-container #card3 {
    top: 0 !important;
  }
}
@media screen and (max-width: 576px) {
  .container-main {
    margin: 0 0 !important;
  }

  .header-content {
    padding-top: 0rem;
  }

  .modal-container .modal-dialog .modal-content {
    padding: 0 3%;
  }
}
/* end MEDIA SCREEN end */
.footer-container .icon {
  font-size: 30px;
}
.footer-container a {
  transition: all 0.3s;
}
.footer-container a:hover {
  color: #fb5859 !important;
}

/*# sourceMappingURL=main.css.map */
